apptainer {
        enabled = true
        runOptions = '-B /hercules/scratch/fkareem --nv'
        envWhitelist = 'APPTAINER_BINDPATH, APPTAINER_LD_LIBRARY_PATH'
    }

process {
    executor = 'slurm'

    withLabel: 'xml_parse' {
        cpus = 1
        memory = '5 GB'
        time = '15m'
        queue = 'short.q'
    }

    withLabel: 'filtool' {
        cpus = 20
        memory = '140 GB'
        time = '4h'
        queue = 'short.q'
    }

    withLabel: 'pulsarx_fold' {
        cpus = 48
        memory = '360 GB'
        time = '4h'
        queue = 'short.q'
    }

}

params{
    singularity_image_dir="/hercules/scratch/vishnu/singularity_images/"
    pulsarx_image = "${params.singularity_image_dir}/pulsarx_latest.sif"
    threads = 48
    template_dir = "/hercules/scratch/fkareem/elden-ring/templates"
}