process {
    executor = 'condor'

    withLabel: 'xml_parse' {
        cpus = 1
        memory = '5 GB'
        time = '15m'
    }

    withLabel: 'filtool' {
        cpus = 6
        memory = '90 GB'
        time = '6h'
    }

}

params{
    singularity_image_dir="/fpra/timing/01/fazal/Singularity"
    pulsarx_image = "${params.singularity_image_dir}/pulsarx_latest.sif"
}
