params {
    // Base directories
    basedir         = "/bscratch/fazal/COMPACT/RFI-TEST"
    template_dir    = "${projectDir}/templates"
    pics_model_dir  = "${projectDir}/ML_Models"

    // Input files
    files_list      = "/bscratch/fazal/COMPACT/RFI-TEST/inputfiles.txt"

    // Telescope configuration
    telescope       = "meerkat"  // Options: 'meerkat', 'effelsberg', etc.

    // Copy files from the tape?
    copy_from_tape {
        run_copy = false
        remoteUser = "fkareem"
        remoteHost = "archive"
        archivePath = "/p/MFR/MEERKAT/TRAPUM/TRAPUM_ALL_OBS_BY_CLUSTER/NGC6717/NGC6717_01L-trapum"
    }

    // Generate RFI Filter Parameters
    generateRfiFilter {
        // Define parameters for folder paths
        run_rfi_filter       = false  // Set to false to use default RFI filters
        target_resolution_ms = 1.0   // Time sample to calculate mean, skew, kurtosis in milliseconds
        script               = "${projectDir}/scripts/rfi_mitigation_modified.py"  // Path to the rfi_mitigation.py script
    }

    // only for rfi-filter-test
    rfi_filter_test {
        rfi_filter_file = "/bscratch/fazal/COMPACT/RFI-TEST/rfifilters.txt"
        known_csv = "/bscratch/fazal/elden-ring/templates/known_pulsars.csv"
    }

    // Filtool Parameters
    filtool {
        run_filtool = true
        output_path = "${basedir}/Filtool"
        rfi_filter_list = [
            effelsberg: "kadaneF 8 4 kadaneT 8 4 zdot zap 1432.65 1434.68 zap 1452.47 1472.29 zap 1514.47 1514.47 zap 1520.06 1520.06 zap 1526.16 1526.67 zap 1530.23 1531.24 zap 1532.77 1544.96 zap 1545.98 1554.62 zap 1555.64 1557.16 zap 1559.19 1560.72 zap 1561.74 1564.28 zap 1565.29 1565.80 zap 1566.82 1566.82 zap 1567.83 1568.85 zap 1570.88 1571.90 zap 1572.92 1573.93 zap 1615.10 1634.92 zap 1642.54 1642.54 zap 1648.64 1649.15 zap 1711.15 1712.67 zap 1715.22 1715.72 zap 1717.25 1719.28 zap 1725.38 1727.41 zap 1728.43 1728.94 zap 1741.64 1741.64 zap 1742.66 1749.77 zap 1755.36 1755.87 zap 1798.05 1858.53 zap 1869.71 1874.28 zap 1881.40 1882.42 zap 1885.47 1885.47 zap 1886.99 1887.50 zap 1888.51 1889.02 zap 1890.04 1891.06 zap 1892.58 1892.58 zap 1893.60 1898.17 zap 1921.04 1926.12 zap 1936.79 1939.34", 
            meerkat: "kadaneF 8 4 kadaneT 8 4 zdot"
        ]
        run_filtool_cleanup = false // Deletes the original input files. Set to false to skip the cleanup process
    }

    // Dispersion Measure (DM) Plan
    ddplan {
        dm_start  = 51.75
        dm_end    = 52.25
        dm_step   = 0.025
        dm_sample = 20
    }

    // Peasoup Parameters
    peasoup {
        segmented_search    = true
        segments            = [1,2,4] // The list contains the no. of chunks to split the 
        // filterbanks into. 1=full_search, 2=split_in_half, etc.
        // Each entry in the list will be executed, so [1,2] will result in a 
        // full search and a segmented search on the halves
        min_snr             = 7.0
        acc_start           = -10
        acc_end             = 10
        ram_limit_gb        = 200
        nharmonics          = 4
        ngpus               = 1
        total_cands_limit   = 100000
    }

    // Parse XML Parameters
    parse_xml {
        script      = "${projectDir}/scripts/parsexml.py"    // Path to the parsexml.py script
    }

    // Split Candidates Parameters
    splitcands {
        script             = "${projectDir}/scripts/splitcands.py"  // Update with actual script path
        nh                 = 0        // Number of harmonics cut off for candidates to fold
        snr_min            = 9.0      // Minimum SNR for candidates to fold
        ncands             = 1000     // Number of candidates to fold
        cands_per_node     = 96       // Number of candidates to fold per node
        threads            = 48        // Number of threads to use for folding
        clfd               = 2.0      
        template_dir       = "${projectDir}/templates"  // Path to the template directory
    }

    // PsrFold Parameters
    psrfold {
        output_path = "${basedir}/PulsarX/Fold"
    }

    parfold {
        output_path = "${basedir}/PulsarX/ParFold"
        parfile_path = "/bscratch/fazal/meertime-ptuse_custom-052b72f73862/M28/J1824-2452C.par"
    }

    alpha_beta_gamma {
        snr_min = 7.0 // if = 0, all are processed.
    }
}

profiles {
    hercules {
        includeConfig 'hercules.config'
    }
    edgar {
        includeConfig 'edgar.config'
    }
    contra {
        includeConfig 'contra.config'
    }
}
