params{
    xml_files = "/fpra/timing/01/fazal/Eff_Data_Proc/NGC7099/Peasoup/NGC7099_Band_1/overview.xml"
    pulsarx_image = "/fpra/timing/01/fazal/Singularity/pulsarx_latest.sif"
    fold_technique = "pulsarx"
    pulsarx_cpn = 96
    beam_name = "Band1"
    output_path = "/fpra/timing/01/fazal/Eff_Data_Proc/NGC7099/Pulsarx_Fold"
    rfi_filter = 1
    nh = 0
    nsub = 64
    clfd = 2.0
    fast_nbins = 128
    slow_nbins = 64
    threads = 20
    band = 1
    isitfits = 0
}
profiles {
    local {
        includeConfig "local.config"
    }
    edgar {
        includeConfig "edgar.config"
    }
}