manifest {
  name = 'ELDEN-RING'
  mainScript = 'elden.nf'
  version = '1.0.0'
}

profiles {
  local    { includeConfig 'conf/profiles/local.config.example' }
  hercules { includeConfig 'conf/profiles/hercules.config.example' }
  edgar    { includeConfig 'conf/profiles/edgar.config.example' }
  contra   { includeConfig 'conf/profiles/contra.config.example' }
  condor   { includeConfig  'conf/profiles/condor.config.example' }
}
