params{
    xml_files = "/hercules/scratch/fkareem/NGC6544/Peasoup/Band1_1/NGC6544_1_1/overview.xml"
    fold_technique = "pulsarx"
    pulsarx_cpn = 96
    beam_name = "Band1_1"
    output_path = "/hercules/scratch/fkareem/NGC6544/Pulsarx"
    rfi_filter = 1
    nh = 0
    nsub = 64
    clfd = 2.0
    fast_nbins = 128
    slow_nbins = 64
    threads = 20
    band = 1
    isitfits = 0
}
profiles {
    local {
        includeConfig "local.config"
    }
    edgar {
        includeConfig "edgar.config"
    }
    hercules {
        includeConfig "hercules.config"
    }
}