params {
    cache           = 'lenient'
    // Base directories
    basedir         = "/bscratch/fazal/ELDEN/elden-ring/test_workflow/output"
    runID           = "TEST_RUN_001"
    target_name     = "TEST_PULSAR"
    output_dir      = "${basedir}"
    template_dir    = "${projectDir}/templates"
    pics_model_dir  = "${projectDir}/ML_Models"
    split_fil       = false
    split_freq      = 1200.0
    stack_by_cdm    = false
    stacks          = ['0000123': [1,2,3]]

    // Search backend selection
    search_backend  = 'peasoup'

    // Input files
    files_list      = "${projectDir}/test_workflow/test_inputfile.txt"
    metafile_source_path = "${basedir}/meta/"

    // Telescope configuration
    telescope       = "effelsberg"

    // Copy files from the tape?
    copy_from_tape {
        run_copy = false
        remoteUser = "test"
        remoteHost = "archive"
        archivePath = "/test/path"
    }

    dada{
        dada_csv = "${basedir}/dada_files.csv"
        bits = 8
        nsblk = 4096
        nchan = 768
        tsamp = 60e-6
        dedispersion = true
        nfft = 32768
        npol = 1
    }

    // Generate RFI Filter Parameters
    generateRfiFilter {
        default_flag = "kadaneF 8 4 kadaneT 8 4"
        run_rfi_filter       = false  // Disable for test
        target_resolution_ms = 1.0
    }

    // Filtool Parameters
    filtool {
        run_filtool = false  // Disable for test
        output_path = "${basedir}/Filtool"
        td = 1
        fd = 1
        flip = true
        rfi_filter_list = [
            effelsberg: "kadaneF 8 4 kadaneT 8 4 zdot",
            meerkat: "kadaneF 8 4 kadaneT 8 4 zdot"
        ]
        run_filtool_cleanup = false
    }

    // Dispersion Measure (DM) Plan
    ddplan {
        use_zero_dm = true
        dm_start  = -5
        dm_end    = 5
        dm_step   = 0.5
        dm_sample = 10
    }

    // Peasoup Parameters
    peasoup {
        segmented_search    = true
        segments            = [1]
        birdies_min_snr     = 11.0
        default_birdies     = "${projectDir}/include/default_birdies.txt"
        birdies_max_freq    = 8300.0
        birdies_ram_limit_gb = 90.0
        birdies_harmonics  = 1
        min_snr             = 7.0
        acc_start           = -50
        acc_end             = 50
        ram_limit_gb        = 145
        nharmonics          = 4
        ngpus               = 1
        total_cands_limit   = 5000
        dump_timeseries     = false
    }

    // Parse XML Parameters
    parse_xml {
        script              = "${projectDir}/scripts/parse_split.py"
        pick_candies        = true
        candy_picker_period_threshold = 1e-7
        candy_picker_remove_birdies = true
        candy_picker_birdies_file = "${projectDir}/include/default_birdies.txt"
        birdies_harmonics = 16
        scale_birdie_width = true
        candy_picker_dm_tolerance = 0
        filter_cands      = true
        config_file         = "${projectDir}/templates/pulsarx_fold_config_eff.json"
    }

    // PsrFold Parameters
    psrfold {
        output_path = "${basedir}/PulsarX/Fold"
        fold_technique      = "pulsarx"
        nbins               = 32
        binplan             = "0.005 32 0.01 64 0.1 128"
        subintlength        = 'None'
        nsub                = 64
        clfd               = 2.0
        threads            = 4
        template_dir       = "${projectDir}/templates"
        cands_per_node     = 350
        cluster_folded     = true
        dm_tolerance       = 0
    }

    alpha_beta_gamma {
        snr_min = 7.0
        create_candyjar_tarball = false
        output_dir_alpha_pics_results = "TEST_PULSAR"
        threshold = 0.1
        snr_threshold = 6.0
    }

    parfold {
        output_path = "${basedir}/PulsarX/ParFold"
        parfile_path = "${projectDir}/test.par"
        threads = 4
        subintlength        = 10
        nbins               = 32
        binplan             = "0.005 32 0.01 64 0.1 128"
        nsub                = null
        clfd               = 2.0
    }

    candypolice {
        input_csv = "${basedir}/test.csv"
        output_dir = "${basedir}/candypolice"
        pulsarx_threads = 4
        nsub = 64
        nbins = 32
        binplan = "0.005 32 0.01 64 0.1 128"
        clfd = 2.0
    }

    // PRESTO Pipeline Parameters
    presto {
        rfifind_time        = 2.0
        rfifind_chanfrac    = 0.5
        rfifind_intfrac     = 0.3
        rfifind_timesig     = 10
        rfifind_freqsig     = 4

        nsub                = 128
        birdie_zmax         = 0
        numharm             = 8
        zmax                = 200
        wmax                = 0
        sigma_threshold     = 2.0
        use_gpu             = false

        sift_min_dm         = 2.0
        sift_r_err          = 1.1
        sift_short_period   = 0.0005
        sift_long_period    = 15.0
        sift_sigma_threshold = 4.0

        fold_nsub           = 128
        fold_npart          = 64
        max_fold_cands      = 50

        fold_backend        = 'pulsarx'
        fft_size            = 134217728
        fold_threads        = 4
        fold_subint_length  = 10.0
        fold_clfd           = 2.0
        fold_nbins          = 64
        fold_binplan        = "0.005 32 0.01 64 0.1 128"

        dm_ranges = [
            [dm_low: 45.0, dm_high: 55.0, dm_step: 0.5, downsamp: 1]
        ]
    }

    notification {
        enabled = false
        email = ''
        on_complete = false
        on_fail = false
        on_error = false
    }
}
